@font-face {
	font-family: "IBM EGA 8x14";
	src: url("../fonts/Web_IBM_EGA_8x14.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #008080;
	user-select: none;
	hyphens: auto;
}

#container {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.window {
	width: 34em;
}

#iconContainer {
	align-self: flex-start;
}

#icon {
	font-size: 2.5em;
	padding-top: 10px;
	margin: 0;
}

#dialogContainer {
	flex: 1;
}

#buildContainer {
	padding-top: 1em;
	width: 33%;
}

#buildContainer select {
	min-width: 7.5em;
}

.buttons {
	justify-content: flex-end;
}

input[type="text"] {
	font-family: "IBM EGA 8x14", monospace;
	font-size: 14px;
	width: 66%;
	padding-left: 0.5em;
}

#keyDialog > p:first-of-type,
#betaDialog > p:first-of-type {
	min-height: 3.455em;
}

#keyContainer {
	padding: 0.5em 0 6.195em 0;
}

#betaContainer {
	padding: 1em 0 4.937em 0;
}

#betaContainer div {
	justify-content: space-between;
}

#betaContainer input[type="text"] {
	margin: 0;
	width: 70%;
}

@media (orientation: portrait) {
	.window {
		width: 100%;
	}
}
